body {
    margin: 0;
    padding: 0;
    width: 100dvw;
    height: 100dvh;

    user-select: none;
    background-color: #f2f2f2;
}

.pageContainer {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.header {
    height: 450px;
    width: 100%;
}


