.tur_Container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.tur_Page {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    margin-right: 3rem;
	min-width: 900px;
	max-width: 1128px;
	min-height: 500px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: #ffffff;
	border-radius: 20px 20px 20px 20px;
}

.tur_Image {
    height: 537px;
    background: url('https://storage.googleapis.com/proudcity/mebanenc/uploads/2021/03/placeholder-image-300x225.png') center no-repeat;
    background-color: rgb(230, 230, 230);
    border-radius: 1rem;
    margin: 1rem 3rem 1rem 3rem;
}

.tur_Name {
    height: 40px;
	color: #000000;
	font-family: "Poppins";
	font-weight: bold;
	font-size: 26px;
	text-align: center;
    margin: 1rem;
    /* background-color: rgb(182, 228, 255); */
}

.tur_Data {
    display: grid;
    grid-template-columns: 2fr 1px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
    min-height: 537px;
    width: 100%;
    padding-bottom: 3rem;
    /* background-color: rgb(167, 255, 178); */
}

.tur_Data > .left {
    grid-area: 1 / 1 / 2 / 2;

}
.tur_Data > .right {
    grid-area: 1 / 3 / 2 / 4;
}
.tur_Data > .divider {
    background-color: #c0c0c0;
    grid-area: 1 / 2 / 2 / 3;
}




.tur_OmTur {
    display: flex;
    height: 40px;
    margin-left: 70px;
}

.tur_OmTur > .text {
    display: flex;
    margin-right: auto;
    color: #000000;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 26px;
    text-align: left;
}
.tur_OmTur > .favorite {
    display: flex;
    margin-left: auto;
    height: 34px;
    width: 34px;
    background: url('../images/Star_4.png') no-repeat;
    background-size: cover;
}

.left > .details {
    display: flex;
    flex-direction: column;
    margin-top: 0.3rem;
    padding-left: 70px;
    background-color: #f7f6f6;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.details > .data_field {
    height: 34px;
    width: 100%;
    display: flex;
    align-items: center;
}


.data_field > .text {
    margin-left: 0.8rem;
    color: #232323;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    text-align: left;
}

.location {
    background: url("../images/Room_Icon_1.png");
}
.tur_type {
    background: url("../images/Directions_Walk_Icon_1.png");
}
.measurement {
    background: url("../images/Square_Foot_Icon_4.png");
}
.timeclock {
    background: url("../images/Watch_Later_Icon_4.png");
}
.direction {
    background: url("../images/Arrow_Right_Alt_Icon_1.png");
}
.calender {
    background: url("../images/Calendar_Month_Icon_1.png");
}
.intensity {
    background: url("../images/Data_Thresholding_Icon_1.png");
}

.data_field > .icon {
    display: flex;
    height: 28px;
    width: 28px;
    background-size: cover;
    background-repeat: no-repeat;
}

.left > .description {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    padding-left: 70px;
}

.description > .title {
	color: #000000;
	font-family: "Poppins";
	font-weight: 400;
	font-size: 26px;
	text-align: left;
}
.description > .text {
    padding-left: 0.5rem;
	color: #232323;
	font-family: "Poppins";
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	text-align: left;
}

.left > .extrainfo {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.extrainfo > .extrainfo_title {
	color: #000000;
	font-family: "Poppins";
	font-weight: 400;
	font-size: 18px;
	text-align: left;
    padding-left: 70px;
}

.extrainfo > .extrainfo_box {
    padding-left: 70px;
    padding-top: 2rem;
    padding-bottom: 2rem;
	background: #f7f6f6;
	color: #000000;
	font-family: "Poppins";
	font-size: 14px;
	line-height: 1.3;
	text-align: left;
}

.extrainfo_box > .title {
	font-weight: bold;
}

.right > .map {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    align-items: center;
}

.map > .map_image {
    height: 360px;
    width: 360px;
    margin-bottom: 1rem;
    background: url('https://storage.googleapis.com/proudcity/mebanenc/uploads/2021/03/placeholder-image-300x225.png') center no-repeat;
    background-color: rgb(230, 230, 230);
	border-color: #aaaaaa;
	border-width: 1px;
	border-style: solid;
}

.map > .button {
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
	height: 32px;
	padding: 0px 15px 0px 15px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: #4c7a34;
	color: #ffffff;
    border: none;
	border-radius: 3px 3px 3px 3px;
	font-family: "Poppins";
	font-weight: 400;
	font-size: 14px;
	text-align: center;
}

.map > .button:hover {
	background: #76b157;
}

.right > .markings {
    margin-top: 7rem;
}

.markings > .marking_title  {
	color: #000000;
	font-family: "Poppins";
	font-weight: 400;
	font-size: 26px;
	text-align: left;
	margin: 8px;
}

.markings > .marking_box {
    display: flex;
	background-color: #f7f6f6;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
}

.squarebtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    margin-right: 0.3rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #444444;
    border-radius: 7px;
}

.marking_box > .active {
    background: #4c7a34;
}

.squarebtn > img {
    user-select: none;
    height: 80%;
    width: 80%;
}

.squarebtn:hover {
    background: #707070;
}
.marking_box > .active:hover {
    background: #79b858 !important;
}

@media screen and (max-width: 900px) {
    .tur_Data {
        display: flex;
        flex-direction: column;
    }
    .right {
        margin-top: 2rem;
    }
    .divider { display: none; }

    .tur_OmTur, .details, .description, .extrainfo_title, .extrainfo_box {
        padding-right: 70px;
    }

    .markings {
        width: 100%;
    }
    .marking_title, .marking_box {
        padding-left: 70px !important;
    }

}