/*mitt*/
.container {
    height: fit-content;
    margin: 2%;
}

.profileBtns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

.editProfileBtn {
    font-size: x-large;
    background-color: #72BB53;
    color: #ffffff;
    padding: 0.5% 1% 0.5% 1%;
    border-radius: 10px;
}

.editProfileBtn:hover {
    background-color: #8fdd6e;
    color: black;
}

#dropdown {
    border-radius: 10px;
    font-size: large;
    height: 30px;
    width: 150px;
    background: linear-gradient(to right,
            #ffffff 0%,
            #ffffff 85%,
            #dddddd 85%,
            #dddddd 100%);
}

.content {
    border: 1px solid black;
    height: 20dvh;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr 1fr;
    padding: 4%;
    overflow: auto;
    row-gap: 10%;
}

.addBtn {
    background-color: #444444;
    color: rgb(204, 203, 203);
    font-size: 20px;
    border-radius: 7px;
    margin: 0.8%;
    padding: 0.5% 2% 0.5% 2%;
    position: fixed;
    right: 5%;
    cursor: pointer;
}

.addBtn:hover {
    background-color: #6e6e6e;
}

@media only screen and (max-width: 1800px) {
.content {
    grid-template: 1fr / 1fr 1fr 1fr 1fr;
}}

@media only screen and (max-width: 1400px) {
.content {
    grid-template: 1fr / 1fr 1fr 1fr;
}}

.tur {
    border: 1px solid black;
    width: 300px;
    height: 400px;
}

.categories {
    display: flex;
    justify-content: space-between;
}

.categories>div {
    background-color: #72BB53;
    color: white;
    border-radius: 10px;
    width: 10dvw;
    margin-right: 2dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.categories>div:hover {
    background-color: #98dd7b;
    color: black;
}