.loginAndButtons {
    position: fixed;
    z-index: -1;
    margin-top: -20%;
    background-color: whitesmoke;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    box-shadow: 0px 3px 5px rgb(108, 108, 108);
    cursor: pointer;
    color: white;
    background-color: #3a5f28;
    border: none;
    border-radius: 2px;
    padding: 10px;
    width: 120px;
}

input {
    width: 180px;
    height: 32px;
    padding: 0px 8px 0px 8px;
    background: #ffffff;
    color: #000000;
    border-color: #243e16;
    border-width: 2px;
    border-style: solid;
    border-radius: 3px 3px 3px 3px;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    text-align: left;
}