.members_Wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}
.members_Container {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    margin-right: 3rem;
	min-width: 900px;
	max-width: 1128px;
	min-height: 500px;
}
.members_Grid {
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 1em 1em;

}
.MemberCard {
    width: 270px;
    height: 370px;
	border-radius: 15px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: white solid 2px;
	background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    position: relative;
    overflow: hidden;
}
.MemberCard > .backgroundStyle {
    background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, #e0ead8 10px, #e0ead8 20px);
    background-color: #ffffff;
    height: 5%;
    width: 100%;
    top: 0;
    z-index: 0;
    position: absolute;
}

.MemberCard > .profileImage {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px rgb(209, 209, 209) solid;
    background:rgb(109, 109, 109);
    border-radius: 50%;
    height: 160px;
    width: 160px;
    margin-top: 2em;
    z-index: 1;
    overflow: hidden;
}
.profileImage > img {
    height: 80%;
}
.MemberCard > .name {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    font-family: 'Poppins';
	font-size: 18px;
	font-weight: 600;
    z-index: 1;
}
.MemberCard > .role {
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
	font-size: 15px;
    color:#5a5a5a;
    z-index: 1;
}
.MemberCard > button {
    border: 0;
	box-shadow: 0px 10px 20px -7px #5a5a5a;
	background-color:#474747;
	border-radius:20px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Poppins';
	font-size: 14px;
	font-weight: 600;
	padding:3px 39px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
    margin-bottom: 1rem;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.MemberCard > button:hover {
	background-color:rgb(109, 109, 109);
}
.MemberCard > button:active {
	position:relative;
	top:1px;
}



#members{
    margin-top: 10px;
    margin-left: 450px;
    background-color: rgb(83, 141, 25);
    width: 50%;
    height: 500px;
    color: black;
    font-size: 200%;
}
.memberdiv{
    border:solid black 2px;
}