
/*Bakgrunnsbildet div*/
.topMainBackgroundImage {
    width: 100%;
    height: 400px;

    background-image: url("../images/background.png");
    background-position: right bottom 0;

    margin-top: 0;

    overflow: hidden;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-width: 770px;
}

/*Logg inn knappen*/
.topMainLogInBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 53px;

    position: absolute;
    margin-left: 1.5rem;
    margin-top: 1rem;

    padding: 0px 10px 0px 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #4c7a34;
    color: #ffffff;
    border-radius: 12px 12px 12px 12px;
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 20px;
    text-align: center;

    cursor: pointer;
}
.LoginBTN_position {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 188px;
    height: 53px;
    left: 10px;
}

.acc_ico {
    position: absolute;
    height: 60%;
    left: 5px;
    bottom: 0.7rem;
}
.login_txt {
    position: relative;
}



/*Logg inn knappen når du hovrer over*/
.topMainLogInBtn:hover {
    background: #629c44;
}

/*Boksen bak TUR logo*/
.topLogoBackgroundBox {
	width: 219px;
	height: 112px;
	padding: 8px 8px 8px 8px;
	background: #4c7a34ea;
	border-radius: 22px 0 22px 0;
    
    position: absolute;
}

/*TUR logo*/
.topMainLogo {
    width: 219px;
    height: 112px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Archivo Black";
    font-size: 80px;
    text-align: center;

    cursor: pointer;
}

/*Hele linjen med knapper under bakgrunnsbildet*/
.topMainPagesBtns {
    background-color: #629c44;
    height: 55px;
    
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    min-width: 770px;
}

/*Hver knapp i linjen under bakgrunnsbildet*/
.topMainPagesBtns>.pages {
    background-color: #4c7a34;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
	color: #ffffff;
	font-family: "Helvetica";
	font-weight: bold;
	font-size: 24px;
	text-align: center;
    cursor: pointer;
    min-width: 200px;
}

.topMainPagesBtns>.active {
    background-color: #629c44;
}

/*Når du hovrer over hver knapp under bakgrunnsbildet*/
.topMainPagesBtns>div:hover {
    background-color: #72bb53;
    color: #fff;
}

/*Spesifikt bruker knappen under bakgrunnsbildet*/
.topMainPageAccountBtn {
    position: relative;
    margin-left: auto;
    margin-right: 15px;
    height: 41px;
	border-width: 2px;
	border-style: solid;
    border-color: #fff;
	border-radius: 30px;

    cursor: pointer;
}
.user_content {
    display: flex;
    flex-direction: row;
	color: #ffffff;
	font-family: "Poppins";
	font-weight: 400;
	font-size: 20px;
	text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
    margin-right: 0px;
    height: 41px;
    position: relative;
}
.acc_ico_user {
    background-image: url("../images/TUR_Project_Account_Circle_Icon_2.png");
    background-size: cover;
    display: flex;
    margin-left: 5px;
    height: 45px;
    width: 45px;
}
